<h1>New area</h1>

<%= error_messages_for :area %>

<% form_for([@video, @area]) do |f| %>
    <p>
      <b>Title</b><br/>
      <%= f.text_field :title %>
    </p>

    <p>
      <b>Href</b><br/>
      <%= f.text_field :href %>
    </p>

    <p>
      <b>Shape</b><br/>
      <%= f.text_field :shape %>
    </p>

    <p>
      <b>Coords</b><br/>
      <%= f.text_field :coords %>
    </p>

    <p>
      <b>Begin</b><br/>
      <%= f.text_field :begin %>
    </p>

    <p>
      <b>End</b><br/>
      <%= f.text_field :end %>
    </p>

    <p>
      <%= f.submit "Create" %>
    </p>
<% end %>

<%= link_to 'Back', video_areas_path(@video) %>
