<% @page_title = "Edit Comments & Captions - Mobdub" %>
<div id="itemMain">
  <div id="menu">
    <%= render :partial => '/shared/admin_nav', :locals => {:current_view => "smil_texts"} %>
    <div id="itemNav" class="itemNav">
      <% if @video %>
          <%= link_to "All Media", partner_videos_path(@partner) %>&nbsp;&nbsp;>&nbsp;&nbsp;<%= link_to @video.title, video_path(@video) %>&nbsp;&nbsp;>&nbsp;&nbsp;Comments
          &
          Captions (<%= @video.smilTexts_count %>
          )&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Hotspots', video_areas_path(@video) %>
          (<%= @video.areas.count %>)
      <% else %>
          <%= link_to "All Media", partner_videos_path(@partner) %>&nbsp;&nbsp;>&nbsp;&nbsp;Comments & Captions
          (<%= @partner.smilTexts.count %>
          )&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Hotspots', partner_areas_path(@partner) %>
          (<%= @partner.areas.count %>)
      <% end %>
    </div>
  </div>

  <div id="edit">
    <div id="itemList">
      <div id="infoview">
        <div class="dashboardHeader">Edit Comments & Captions</div>

        <% form_for :smilText, :url => video_smilText_path(@video, @smilText), :html => { :method => :put } do |f| %>
            <%= f.error_messages %>
            <div class="infotitle">Type</div>
            <div><%= f.select :text_style_id, SmilText::TEXT_STYLES %></div>
            <div class="separator"></div>

            <div class="infotitle">Text</div>
            <div><%= f.text_field :body %></div>
            <div class="separator"></div>

            <div class="infotitle">Created</div>
            <div class="dateLong"><%= @smilText.created_at %></div>
            <div class="separator"></div>

            <div class="infotitle">Timestamp</div>
            <div><%= f.text_field :begin %></div>
            <div class="separator"></div>

            <div class="infotitle">Link</div>
            <div><%= f.text_field :href %></div>
            <div class="separator"></div>

            <div class="infotitle">Tags</div>
            <div>#dogs #cats</div>
            <div class="separator"></div>

            <div class="infotitle">Author</div>
            <div>jaxon@komonews.com anne@fisher.com</div>
            <div>&nbsp;</div>


            <div class="pagination" style="text-align: center; margin-top:20px">
              <%= link_to_function "Update", "$('form').submit()" %>
              <%= link_to "Cancel", video_smilText_path(@video, @smilText) %>
            </div>
        <% end %>

      </div>
    </div>
  </div>
  <%= render :partial => '/shared/footer' %>
</div>